
  .page {
    background-color:#6776ca;
    color: white;
  }
  .pageContent {
    background-color: aliceblue;
    
    
    padding: 20px;
    margin: 5px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }