<mat-toolbar class="main" color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <mat-toolbar-row class="example-button-row">
    <span class="title"><img  src="../../assets/jbya.png"  alt="Eanjumanlogpo"></span>

    <mat-icon aria-label="home">home</mat-icon>
    <button mat-button routerLink="/home">Home</button>
    <mat-icon aria-label="account_balance">account_balance</mat-icon>
    <button mat-button routerLink="/accounts">Accounts</button><mat-icon aria-label="attach_money">attach_money</mat-icon>
    <button mat-button routerLink="/balanceSheet">BalanceSheet</button>
    <button mat-button routerLink="/loanList">Loans</button>
    <button mat-button routerLink="/depositList">Deposits</button>
    <mat-icon aria-label="person">person</mat-icon>
    <button mat-button routerLink="/user">User</button>
    <span class="example-spacer"></span>
    <!--<button mat-button routerLink="login">Login</button>-->
    <button mat-icon-button (click)="onLogout()" *ngIf="isLoggedIn"><mat-icon aria-label="logout">logout</mat-icon></button>

  </mat-toolbar-row>
</mat-toolbar>